<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MonoDM.App.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="MonoDM.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />				  
			<section name="MonoDM.Extension.AntiVirus.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="MonoDM.Extension.Notifications.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="MonoDM.Extension.Protocols.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="MonoDM.Extension.Scheduler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	
	<userSettings>

		<MonoDM.App.Settings>
		   <setting name="ViewTransDetails" serializeAs="String">
			<value>True</value>
		   </setting>
		   <setting name="ViewToolbar" serializeAs="String">
			<value>True</value>
		   </setting>
		   <setting name="ViewGrid" serializeAs="String">
			<value>True</value>
		   </setting>
	  </MonoDM.App.Settings>

  <MonoDM.Core.Settings>
			<setting name="MinSegmentSize" serializeAs="String">
				<value>200000</value>
			</setting>
			<setting name="MinSegmentLeftToStartNewSegment" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="RetryDelay" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="MaxRetries" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="MaxSegments" serializeAs="String">
				<value>5</value>
			</setting>
		</MonoDM.Core.Settings>
		   
		<MonoDM.Extension.AntiVirus.Settings>
			<setting name="CheckFileWithAV" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AVFileName" serializeAs="String">
				<value></value>
			</setting>
			<setting name="FileTypes" serializeAs="String">
				<value>.exe;.com</value>
			</setting>
			<setting name="AVParameter" serializeAs="String">
				<value>-a</value>
			</setting>
		</MonoDM.Extension.AntiVirus.Settings>

		<MonoDM.Extension.Scheduler.Settings>
		  <setting name="MaxJobs" serializeAs="String">
			<value>5</value>
		  </setting>
		  <setting name="WorkOnlyOnSpecifiedTimes" serializeAs="String">
			<value>False</value>
		  </setting>
		  <setting name="TimesToWork" serializeAs="String">
			<value />
		  </setting>
		</MonoDM.Extension.Scheduler.Settings>
    
		<MonoDM.Extension.Protocols.Settings>
			<setting name="UseProxy" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ProxyAddress" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ProxyPort" serializeAs="String">
				<value>80</value>
			</setting>
			<setting name="ProxyUserName" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ProxyPassword" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ProxyDomain" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ProxyByPassOnLocal" serializeAs="String">
				<value>True</value>
			</setting>
		</MonoDM.Extension.Protocols.Settings>

		<MonoDM.Extension.Notifications.Settings>
			<setting name="DownloadAddedSound" serializeAs="String">
				<value />
			</setting>
			<setting name="DownloadRemovedSound" serializeAs="String">
				<value />
			</setting>
			<setting name="DownloadEndedSound" serializeAs="String">
				<value />
			</setting>
			<setting name="ShowBallon" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="BallonTimeout" serializeAs="String">
				<value>3000</value>
			</setting>
		</MonoDM.Extension.Notifications.Settings>
		
	</userSettings>
</configuration>